
        <div class="ui link cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">{nmUser}</div>
                    <div class="meta">
                        <span class="right floated time">{online}</span>
                        <span class="category">{sctor}</span>
                    </div>
                    <div class="description">
                        <p>Completed : {nmOsCompleteds}</p> 
                        <p>To be made: {nmOsBeMade}</p>
                        <p>Prevented : {nmOsPrevented}</p>
                        <div class="extra content">
                            <span class="right floated">
                                <p>OS in this working : {nmOsWorking}</p>
                                <p>% of Completion : {percentageCompletion}</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="left floated author">
                        {date} - 25/06/1997
                    </div>
                    <div class="right floated author">
                        <img class="ui avatar image" src="vendor/images/matthew.png"> Matt
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">{nmUser}</div>
                    <div class="meta">
                        <span class="right floated time">{online}</span>
                        <span class="category">{sctor}</span>
                    </div>
                    <div class="description">
                        <p>Completed : {nmOsCompleteds}</p> 
                        <p>To be made: {nmOsBeMade}</p>
                        <p>Prevented : {nmOsPrevented}</p>
                        <div class="extra content">
                            <span class="right floated">
                                <p>OS in this working : {nmOsWorking}</p>
                                <p>% of Completion : {percentageCompletion}</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="left floated author">
                        {date} - 25/06/1997
                    </div>
                    <div class="right floated author">
                        <img class="ui avatar image" src="vendor/images/matthew.png"> Matt
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">{nmUser}</div>
                    <div class="meta">
                        <span class="right floated time">{online}</span>
                        <span class="category">{sctor}</span>
                    </div>
                    <div class="description">
                        <p>Completed : {nmOsCompleteds}</p> 
                        <p>To be made: {nmOsBeMade}</p>
                        <p>Prevented : {nmOsPrevented}</p>
                        <div class="extra content">
                            <span class="right floated">
                                <p>OS in this working : {nmOsWorking}</p>
                                <p>% of Completion : {percentageCompletion}</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="left floated author">
                        {date} - 25/06/1997
                    </div>
                    <div class="right floated author">
                        <img class="ui avatar image" src="vendor/images/matthew.png"> Matt
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">{nmUser}</div>
                    <div class="meta">
                        <span class="right floated time">{online}</span>
                        <span class="category">{sctor}</span>
                    </div>
                    <div class="description">
                        <p>Completed : {nmOsCompleteds}</p> 
                        <p>To be made: {nmOsBeMade}</p>
                        <p>Prevented : {nmOsPrevented}</p>
                        <div class="extra content">
                            <span class="right floated">
                                <p>OS in this working : {nmOsWorking}</p>
                                <p>% of Completion : {percentageCompletion}</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="left floated author">
                        {date} - 25/06/1997
                    </div>
                    <div class="right floated author">
                        <img class="ui avatar image" src="vendor/images/matthew.png"> Matt
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">{nmUser}</div>
                    <div class="meta">
                        <span class="right floated time">{online}</span>
                        <span class="category">{sctor}</span>
                    </div>
                    <div class="description">
                        <p>Completed : {nmOsCompleteds}</p> 
                        <p>To be made: {nmOsBeMade}</p>
                        <p>Prevented : {nmOsPrevented}</p>
                        <div class="extra content">
                            <span class="right floated">
                                <p>OS in this working : {nmOsWorking}</p>
                                <p>% of Completion : {percentageCompletion}</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="left floated author">
                        {date} - 25/06/1997
                    </div>
                    <div class="right floated author">
                        <img class="ui avatar image" src="vendor/images/matthew.png"> Matt
                    </div>
                </div>
            </div>
        </div>
