<form class="ui segment form" ng-submit="mainUsers.save(person)">
    <h4 class="ui dividing header"><i class="users icon"></i>Personal data</h4>
    <div class="required field">
        <label>Name</label>
        <div class="two fields">
            <div class="field">
                <!--<div class="four wide required field">-->
                <input type="text" name="name" ng-model="person.name" placeholder="Name">
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label>Gender</label>
                <select class="ui fluid dropdown" ng-model="person.gender">
                    <option value="">Gender</option>
                    <option value="">Male</option>
                    <option value="AC">Female</option>
                </select>
            </div>
            <div class="field">
                <label>Date of birth</label>
                <div class="field">
                    <input type="date" name="birth" ng-model="person.dateBirth">
                </div>
            </div>

        </div>
        <div class="field">
            <label>Address</label>
            <div class="fields">
                <div class="twelve wide field">
                    <input type="text" name="address" placeholder="Street Address" ng-model="person.address">
                </div>
                <label></label>
                <div class="four wide field">
                    <input type="text" name="number" placeholder="Nº#" ng-model="person.number">
                </div>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>State</label>
                <select class="ui fluid dropdown" ng-model="person.state">
                    <option value="">State</option>
                    <option value="">Selecione</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espirito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
            <div class="field">
                <label>Country</label>
                <div class="field">
                    <input type="text" name="country" placeholder="Country" ng-model="person.country">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-block">Salvar</button>
        <div class="ui button" ng-click="mainUsers.save(person)" tabindex="0">Submit Order</div>
</form>
