<div class="{{required}} field ">
    <label>Name</label>
    <div class="two fields">
        <div class="field">
            <div class="field ui corner labeled input">
                <input type="text" ng-model="object.firstName" name="firstName" placeholder="First Name" value="valueFirst">
                <div class="ui corner label">
                    <i class="asterisk icon" style="color: red"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field ui corner labeled input">
                <input type="text" ng-model="object.lastName" placeholder="Last Name" value="valueLast">
                <div class="ui corner label">
                    <i class="asterisk icon" style="color: red"></i>
                </div>
            </div>
        </div>
    </div>
</div>